# .github/workflows/core.action.version_updater.yml
name: Core (Atomic) Action - Version Updater

on:
  workflow_dispatch:  # allows manual triggering
  workflow_call:
    inputs:
      version:
        required: true
        type: string
        description: "Version to set (format: v1.2.3 or 1.2.3)"
      files:
        required: true
        type: string
        description: "Files to update (one per line)"
      strip_v_prefix:
        required: false
        type: boolean
        default: true
        description: "Remove v prefix when updating files"
    outputs:
      files:
        description: "List of successfully updated files"
        value: ${{ jobs.update-version.outputs.files }}

jobs:
  update-version:
    runs-on: ubuntu-latest 
    permissions:
      contents: read

    outputs:
      files: ${{ steps.update-version.outputs.files }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          repository: ${{ github.repository }}  # Ensures the current repository
          ref: main
          fetch-depth: 0
      
      - name: Update Version
        id: update-version
        uses: deepworks-net/github.toolkit/actions/core/version_updater@v1
        with:
          version: ${{ inputs.version }}
          files: ${{ inputs.files }}
          strip_v_prefix: ${{ inputs.strip_v_prefix }}